service: order-system 

plugins:
  - serverless-pseudo-parameters
  - serverless-iam-roles-per-function

provider:
  name: aws
  runtime: nodejs8.10
  stage: dev


package:
  exclude:
    - package-lock.json
    - README.md
    - build.sh
    - buildspec.yml
    - tests/**

functions:
  hello:
    handler: functions/get-hello.handler

  place-order:
    handler: functions/place-order.handler
    events:
      - http:
          path: /orders
          method: post   
